kafka-python==2.2.15
avro-python3==1.10.2
python-schema-registry-client==2.6.1
pandas==2.3.0
confluent-kafka==2.11.0
fastavro==1.11.1
cachetools==6.1.0
authlib==1.6.0
apache-flink==2.0.0
pydantic==2.10.3
openai==1.94.0
minio==7.2.15
pymilvus==2.5.12
fastapi==0.116.1
starlette==0.47.1
slack_sdk==3.36.0